node_modules/
.nuxt/
dist/
.output/

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.externalNativeBuild/

*.iml
.idea/

*.log
.DS_Store
Thumbs.db

.env
.env.*
